body {
  background-color: #ECEDE9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  background-color : #EDD4D1;
}

.btn-one {
  background-color: #A19391;
}

.btn-two {
  background-color: #EDD4D1;
}

.bg-project {
  background-color: #9CA18D;
}

.btn-one:hover {
  background-color: #A19391;
  box-shadow: 2px 2px 5px #EDD4D1;
}

.btn-two:hover {
  background-color: #EDD4D1;
  box-shadow: 2px 2px 5px #A19391;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.skillsList {
  background-color: #EDD4D1;
  width: 15rem;
  margin-top: .5rem;
  padding: .5rem;
  font-size: 2rem;
  border-style: ridge;
  border-width: 5px;
  border-color: #9CA18D;
  box-shadow: 4px 4px 5px #ECEDE9;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100vh;
  padding: 20px 0;
}

.block {
  display: block;
}

.relative {
  position: absolute;
  left: 4rem;
  z-index: -1;
  width: 100vw;
}
.relativeAbout {
  position: absolute;
  left: 1rem;
  z-index: -1;

}
.centerLink {
  margin-left: 20px;
}
@media only screen and (max-width: 750px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 25px;
    padding: 0;
    margin: 0;
  }
  .relative {
    display: block;
    left: 0px;
    top: 9rem;
    z-index: -1;
  }
  .block {
    display: flex;
  }
  .centerlink {
    margin-left: 60px;
  }
}